.contactUs{
    background-image: url("../../assets/images/contactusmap.png");
    background-size: cover;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.contactUsContent{
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    height: 100vh;
    flex-shrink: 0;
    padding-inline: 10%;
}

.contactUs-Intro{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.contactUs-Intro>p{
    color: #666565;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    width:40%;
    display: block;
}