.card{
    width: 212px;
    height: 227px;
    box-shadow: 0px 8px 4px rgba(128, 127, 127, 0.25);
    border-radius: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

